.heading{
	color: #00FF00 ; 
	text-align: center;
}
.wholepage{
	
	background-image: url(hack.jpg);


}
.body{
	background-size: cover;
}

.header{
	font-family:serif;
	font-size: 12px ;
	color: #00FF00 ;
	padding-bottom: 50px;
	padding-top: 10px; 
}
.containerone{
	image-rendering: optimizeQuality;
	text-align: center;
	padding-bottom: 20px;
	color : #00FF00;

}
.containertwo{
	border-radius: 10px;
	border-color: #00FF00;
	text-align: center;
    color: #00FF00 ;  
   padding-bottom: 20px;
    border-color: #00FF00
   
}
.button{
	text-align: center;
	align-content: center;
	border: 1px solid ;
}
.bottom{
	background-color: black;
	color: #00FF00;
	text-align:  right;
	font-size: 8px;

}
.nody{
    ;
    background-position: center;
}
