

.container {
	width: 1000px ;
	background-color: #f4f4f4;
	
	margin: auto;
	
}
.container1 {
	padding: 10px green solid ;
	width: 1000px ; 
}
.imgcontainer {
	margin-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 0px;
	float: left;
	width: 280px ; 
	text-align: left;
}
.main{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px:
	margin-left:0px;
	font-family: cursive;
	font-size: 15px; 
    float: left ; 
    width: 700px ;

}

