header {background-color: rgb(0,100,0);
        color:yellow;
        font-size: 20px;
        size: 80em ;
        text-align: center; 
        height: 20px ;
}        

.container {
	width: 800px ;
	background-color: #f4f4f4;
	text-align: center;
	align-content: center;
	margin: auto;
	
}
.container2 {
	padding: 10px green solid ;
	width: 800px ; 
}
.navcontainer {
	margin-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 0px;
	float: left;
	width: 180px ; 
}
.main{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px:
	margin-left:0px;
	font-family: cursive;
	font-size: 15px; 
    float: right ; 
    width: 600px ;

}
h1{ 
 text-align: center; }
 h4{
 	font-size: 12px;
 	font-family: sans-serif;
 	float: right;
 }
 p{
 	font-size: 15px;
 }
 .footer{
 	background-color: grey ;
    height: 20px;
    width: 1000px ; 
    text-align: right;
    clear: both;
 	 }